---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '关于我们',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="关于我们"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <br />祥龙智运<br />
      <span class="text-accent dark:text-white highlight"></span><br />
    </Fragment>

    <Fragment slot="subtitle">
      是祥龙物流集团旗下专注于以科技为企业客户提供服务的全资子公司。
    </Fragment>
  </Hero>

  <Features3
    title="服务让世界高效"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: '产业升级',
        description:
          '祥龙智运秉承“以科技推动产业升级，用服务让世界高效”的使命，致力于为城市、企业等各类客户提供全产业链的产品和服务。',
        icon: 'tabler:template',
      },
      {
        title: '数字化转型',
        description:
          '祥龙智运对内助力祥龙物流集团加速数字化转型，实现新增长；对外力争成为更懂客户的解决方案提供商。',
        icon: 'tabler:template',
      },
      {
        title: '解决方案',
        description:
          '祥龙智运基于人工智能、云计算、大数据等科技，加之祥龙物流多年在在物流仓储行业的积累，祥龙智运为各行各业提供高效运输解决方案，助力企业高质量发展。',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="祥龙物流"
    stats={[
      { title: '行业经验', amount: '20年' },
      { title: '物流园区', amount: '3765亩' },
      { title: '运输车辆', amount: '120部' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="整合资源"
    subtitle="祥龙物流自2003年成立以来一直深耕于仓储物流行业，在行业中行业中摸爬滚打，积累了丰富的经验。基于以上，祥龙智运应运而生。"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: '先进技术',
        description:
          '祥龙智运整合上级集团各类资源，利用互联网先进技术，搭建网络货运平台。',
        icon: 'tabler:template',
      },
      {
        title: '平台服务',
        description:
          '以网络货运平台为基础，依托祥龙物流集团在物流领域的深厚底蕴、物流行业的专业经验，构建物流科技核心生产力，为客户提供综合的物流行业科技产品与网络货运平台服务。',
        icon: 'tabler:template',
      },
      {
        title: '安全稳定',
        description:
          '贯彻落实安全、稳定的原则，打造让国家放心，企业放心，司机放心的平台。',
        icon: 'tabler:template',
      },
    ]}
  />

    <!-- Steps2 Widget ****************** -->

  <Steps2
    title="祥龙智运发展规划"
    subtitle="在数字化浪潮中始终保持创新发展的态势，成为京津冀地区颇具影响力的国有网络货运平台。"
    items={[
      {
        title: '1.0阶段',
        description:
          '构建祥龙内部生态，完善上下游，实现降本增效。',
      },
      {
        title: '2.0阶段',
        description:
          '以1.0经验为基础，融入区域市场，建立京津冀地区数字货运生态圈。',
      },
      {
        title: '3.0阶段',
        description:
          '不断改革创新，持续满足市场客户需求，努力成为创新性科技企业。',
      },
    ]}
  />


  <!-- Features2 Widget ************** -->

  <Features2
    title="企业愿景"
    tagline=""
    columns={3}
    items={[
      {
        title: '成为卓越、科技、规范',
        description: '',
      },
      {
        title: '安全的数字化货运平台',
        description: '',
      },
      {
        title: '构建京津冀地区数字货运生态圈',
        description: '',
      },
    ]}
  />

  
</Layout>
